/*

!smartaq/
!smartaq/**
!include/
!include/**
!.github/
!.github/**
!doc/**
!header_only/
!header_only/**
!external_libs/
!external_libs/**
!tests/
!tests/**
!thirdparty/
!thirdparty/**

!.gitignore
!.gitmodules
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!partitions.csv
!sdkconfig
!README.md

smartaq/auth.h