[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib
[submodule "components/frozen"]
	path = components/frozen
	url = https://github.com/cesanta/frozen
[submodule "components/ctre"]
	path = header_only/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
[submodule "header_only/frozen"]
	path = header_only/frozen
	url = https://github.com/serge-sans-paille/frozen
